.inicio, .inicio:link, .inicio:visited {
    color: inherit;
    text-decoration: none;
}

i {
    margin: .3rem;
}

.mw-75 {
    max-width: 75%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}